html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .header {
    height: 200px;
    text-align: center;
    line-height: 200px;
    background: #faf2f3;
  }
  
  .home-header {
    z-index: -2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("assets/img/buildings.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 3em;
    position: relative;
  
    font-size: xx-large;
  }
  
  .home-header:before {
    content: "";
    /* background: <ICI>; */
    opacity: 0.7;
    background-color: #223346;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  
  .home-header > h1 {
    text-align: center;
    color: rgb(239, 244, 254);
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-header > p {
    text-align: center;
    color: rgb(239, 244, 254);
    font-size: 25px;
    margin-top: 20px;
  }
  
  .home-header-contact {
    z-index: -2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("assets/img/accord.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 3em;
    position: relative;
  
    font-size: xx-large;
  }
  
  .home-header-contact:before {
    content: "";
    /* background: <ICI>; */
    opacity: 0.7;
    background-color: #223346;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  
  .home-header-contact > h1 {
    text-align: center;
    color: rgb(239, 244, 254);
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-header-contact > p {
    text-align: center;
    color: rgb(239, 244, 254);
    font-size: 25px;
    margin-top: 20px;
  }
  
  .home-header-services {
    z-index: -2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("assets/img/datacenter.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 3em;
    position: relative;
  
    font-size: xx-large;
  }
  
  .home-header-services:before {
    content: "";
    /* background: <ICI>; */
    opacity: 0.7;
    background-color: #223346;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  
  .home-header-services > h1 {
    text-align: center;
    color: rgb(239, 244, 254);
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-header-services > p {
    text-align: center;
    color: rgb(239, 244, 254);
    font-size: 25px;
    margin-top: 20px;
  }
  
  /* ===============================*/
  .main {
    margin-top: 0px;
    left: 0;
  }
  
  p {
    margin-left: 100px;
    margin-top: 0px;
    margin-right: 100px;
    font-size: 20px;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    color: #043c7b;
    margin-left: 100px;
    margin-top: 70px;
  }
  
  ul {
    margin-left: 120px;
    font-size: 20px;
  }
  
  a {
    color: #043c7b;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h2 {
    margin: 100px;
  }
  
  h3 {
    color: #0290c8;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 40px;
  }
  .footer {
    position: relative;
    bottom: -10px;
    width: 100%;
  }
  
  /* NAVIGATION */
  nav {
    width: 100%;
    margin: 0 auto;
    background: #333;
    padding: 10px 0;
    position: fixed;
  }
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  nav ul li {
    display: inline-block;
    margin: 0px;
  }
  
  nav ul li a {
    display: block;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #d2e0ff;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }
  nav ul li a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: white;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: ".";
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #333;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  